* {
    /* user-select: none; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background: rgb(190, 228, 255);
    background: linear-gradient(0deg,
            rgba(190, 228, 255, 1) 0%,
            rgba(9, 141, 231, 1) 50%,
            rgba(0, 73, 124, 1) 100%);
}

.snow {
    /* margin-top: -1%; */
    /* position: absolute; */
    /* width: 99%; */
    /* height: 99%; */
    background: url(https://usercontent.irccloud-cdn.com/file/Lh7a6nSo/snow3.png), url(https://usercontent.irccloud-cdn.com/file/Lh7a6nSo/snow3.png);
    background-size: 144px, 108px;
    background-position: 0px, 54px;
    background-repeat: repeat-x repeat-y, repeat-x repeat-y;
    animation: 7s linear 0s infinite snowing;
    opacity: 0.75;
}

@keyframes snowing {
    0% {
        background-position: 0 0, 0 0;
    }

    25% {
        background-position: -36px 144px, -36px 36px;
    }

    100% {
        background-position: 144px 432px, -108px 216px;
    }
}

/* === GIFT === */
.gift_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.gift {
    width: 200px;
    height: 200px;
}

.fourleaf {
    position: absolute;
    z-index: 1;
    transition: transform 300ms ease-in-out;
    transform: translateY(10px) scale(0.65);
}

.gift {
    z-index: 2;
}

.gift-top {
    transition: transform 300ms ease-in-out;
    transform: rotate(-20deg) translate(-115px, 105px) scale(1);
}

.gift {
    transition: transform 300ms ease-in-out;
    transform: scale(1);
}

.gift.is-open {
    transform: scale(0.25);
    transform-origin: center bottom;
}

.gift.is-open .gift-top,
.gift:hover.is-open .gift-top {
    transform: rotate(85deg) translate(-120px, -600px);
}

.gift:hover .gift-top {
    transform: none;
}

.fourleaf.is-fade-in {
    transform: scale(1) translateY(-80px);
}

.message {
    opacity: 0;
    transition: opacity, transform 300ms ease-in-out 150ms;
    transform: scale(0);
    position: absolute;
    padding: 10px;
}

.message.is-visible {
    opacity: 1;
    transform: scale(1);
}

/* */
#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 200px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table thead {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
}

/* register & login */
/* === FLIP CARD START === */
.flip-card-3D-wrapper {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 420px;
    position: relative;
    -o-perspective: 900px;
    -webkit-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    margin: 0 auto;
}

#flip-card {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#flip-card .flip-card-front,
#flip-card .flip-card-back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
    -moz-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
    box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
}

#flip-card .flip-card-front {
    background: transparent;
}

#flip-card .flip-card-back {
    background: transparent;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* === FLIP CARD END === */

#loginBtn,
#registerBtn {
    width: 225px !important;
    height: 37.5px !important;
}