<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Santa</title>
    <link rel="icon" href="public/assets/images/48x48.ico" type="image/x-icon" sizes="16x16 32x32 48x48">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
    <script src="public/assets/js/index.js"></script>
    <link rel="manifest" href="manifest.json">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- RECAPTCHA -->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <script>
        // Check if the message has already been shown
        if (!sessionStorage.getItem('messageShown_login') && "{if $smarty.session.message_login}{$smarty.session.message_login}{/if}") {
            window.sessionMessageLogin = "{if $smarty.session.message_login}{$smarty.session.message_login}{/if}";
            sessionStorage.setItem('messageShown_login', true);
        }
        if (!sessionStorage.getItem('messageShown_add_group') && "{if isset($smarty.session.message_add_group)}{$smarty.session.message_add_group}{/if}") {
            window.sessionMessage_add_group = "{if isset($smarty.session.message_add_group)}{$smarty.session.message_add_group}{/if}";
            sessionStorage.setItem('messageShown_add_group', true);
        }
        // if (!sessionStorage.getItem('messageShown_add_user') && "{if isset($smarty.session.message_add_user)}{$smarty.session.message_add_user}{/if}") {
        //     window.messageShown_add_user = "{if isset($smarty.session.message_add_user)}{$smarty.session.message_add_user}{/if}";
        //     sessionStorage.setItem('messageShown_add_user', true); // if i add a second person i wont see the session message this is the issue
        // }
    </script>
</head>

<body>
    <div class='h-100 snow'>

        <div class="d-flex justify-content-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-0 active" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                        aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-0" id="profile-tab" data-bs-toggle="tab"
                        data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                        aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-0" id="groups-tab" data-bs-toggle="tab"
                        data-bs-target="#groups-tab-pane" type="button" role="tab" aria-controls="groups-tab-pane"
                        aria-selected="false">
                        Groups
                        {if isset($user_groups) && count($user_groups) > 0}
                        {foreach $user_groups as $group}
                        {assign var=currentUserCount value=0}
                        {foreach $group as $user}
                        {if $user.approved === 0 && $user.id == $user_id}
                        {assign var=currentUserCount value=$currentUserCount+1}
                        {/if}
                        {/foreach}
                        {if $currentUserCount > 0}
                        <div title="{$currentUserCount} new requests"
                            class="bg-warning rounded-circle position-absolute d-flex align-items-center justify-content-center">
                            <span class="badge bg-warning text-dark rounded-circle">{$currentUserCount}</span>
                        </div>
                        {/if}
                        {/foreach}
                        {/if}
                    </button>
                </li>
            </ul>
            <div class="position-absolute top-0 end-0">
                <button id="getSession" class="btn btn-sm"><i class="bi bi-clipboard-data"></i></button>
                <a class="" href="auth" id="logout"><i class="bi bi-door-open"></i></a>
                <script>
                    $(document).ready(function () {
                        $("#getSession").click(function () {
                            $.ajax({
                                type: "GET",
                                url: "app/controllers/getSession.php",
                                success: function (response) {
                                    console.log(response)
                                }
                            })
                        })
                    })
                </script>
            </div>
        </div>

        <div class="tab-content h-100" id="myTabContent">
            <!--TAB GIFT-->
            <div class="tab-pane fade d-flex justify-content-center show active h-100" id="home-tab-pane"
                role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="mt-3">
                    {if isset($user_groups) && count($user_groups)>0}
                    <label for="groups" class="text-center text-white w-100">Choose group</label>
                    <select name="" id="groups" class="form-select">
                        <option value="">-- select --</option>
                        {foreach $user_groups as $group}
                        {if count($group) > 1}
                        <option value="{$group.0.group_id}" class="form-select">{$group.0.group_name}
                        </option>
                        {/if}
                        {/foreach}
                    </select>
                    {/if}
                    <div class="d-flex justify-content-center align-items-center h-75">
                        <div class='position-relative mt-5 d-flex justify-content-center align-items-center' id="gift-container">

                        </div>
                    </div>
                </div>
            </div>
            <!--TAB PROFILE-->
            <div class="tab-pane fade d-flex justify-content-center" id="profile-tab-pane" role="tabpanel"
                aria-labelledby="profile-tab" tabindex="0">
                <div class='w-75 mt-3'>
                    <div class='d-flex justify-content-center'>
                        <h5 class='card-title fs-3 text-white'>Edit Profile</h5>
                    </div>
                    <div class='mt-5 mb-5'>
                        <div class='form-floating mb-1'>
                            <input type='text' class='form-control shadow border border-0' id='profileEmail'
                                placeholder='' value='{$email}' name="email" pattern='[^\s@]+@[^\s@]+\.[^\s@]+$'
                                readonly disabled/>
                            <label for='profileEmail'>Email</label>
                        </div>
                        <div class='form-floating mb-1'>
                            <input type='text' class='form-control shadow border border-0' id='name' placeholder=''
                                value='{$username}' name="name" pattern='[^\s@]+@[^\s@]+\.[^\s@]+$'
                                autocomplete="off" />
                            <label for='name'>Name</label>
                        </div>
                        <div class='form-floating mb-1'>
                            <input class='form-control shadow border border-0' id='old_password' placeholder='' value=''
                                name="old_password" pattern='[^\s@]+@[^\s@]+\.[^\s@]+$' autocomplete="off" />
                            <label for='old_password'>old password</label>
                        </div>
                        <div class='form-floating mb-1'>
                            <input class='form-control shadow border border-0' id='new_password' placeholder='' value=''
                                name="new_password" pattern='[^\s@]+@[^\s@]+\.[^\s@]+$' />
                            <label for='new_password'>new password</label>
                        </div>
                        <div class='form-floating mb-1'>
                            <input class='form-control shadow border border-0' id='confirm_new_password' placeholder=''
                                value='' name="confirm_new_password" pattern='[^\s@]+@[^\s@]+\.[^\s@]+$' />
                            <label for='confirm_new_password'>confirm new password</label>
                        </div>
                    </div>
                    <div class='d-flex justify-content-center'>
                        <input id="editProfileBtn" class="btn btn-success" value="Save">
                        <input type="hidden" name="edit_profile" value="edit_profile">
                        <input id="editProfileCsrf" type="hidden" name="csrf_token" value="{$csrf_token}">
                        <!-- <div class="g-recaptcha" data-sitekey="6LfXrTspAAAAAAyvMrjpM7BhWMFcpfqEAXoGMjjP">
                            </div> -->
                    </div>
                </div>
            </div>
            <!--TAB GROUPS-->
            <div class="tab-pane fade" id="groups-tab-pane" role="tabpanel" aria-labelledby="groups-tab" tabindex="0">
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <button id="createGroupBtn" class="btn btn-sm btn-primary">Create group</button>
                </div>
                {if isset($user_groups) && count($user_groups) > 0}
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <div class="row mx-auto w-lg-50">
                        <div class="col-4">
                            <select name="" id="groupsAdd" class="form-select">
                                <option value="0">-- select --</option>
                                {foreach $user_groups as $group}
                                <option value="{$group.0.group_id}" class="form-select">{$group.0.group_name}
                                </option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-7">
                            <input type="text" id="searchUser" class="form-control" placeholder="Search user by email">
                            <ul id="searchResultsUl" class="list-group position-absolute" style="z-index: 99;"></ul>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <button id="addUserBtn" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                {/if}
                <!-- -->
                <div class="d-flex justify-content-center">
                    <div class="w-75">
                        <div class="accordion" id="accordionGroups">
                            {foreach $user_groups as $group}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_{$group.0.group_id}" aria-expanded="false"
                                        aria-controls="collapse_{$group.0.group_id}">
                                        <i class="bi bi-collection"></i> &nbsp;
                                        {$group.0.group_name}
                                    </button>
                                </h2>
                                <div id="collapse_{$group.0.group_id}" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionGroups">
                                    <div class="accordion-body">
                                        <table class="groupTable table table-hover w-100 customDataTable">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Email</td>
                                                    <td>Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {foreach $group as $user}
                                                <tr
                                                    title="{if $user.approved === 0}Pending approval {elseif $user.owner_id === $user.id} Owner of group {/if}">
                                                    <td class="col w-25">
                                                        {if $user.approved === 0} <i
                                                            class="bi bi-exclamation-triangle-fill text-danger"></i>
                                                        {/if}
                                                        {$user.username}
                                                    </td>
                                                    <td class="col w-75">{$user.email}</td>
                                                    <td class="col text-end w-auto">
                                                        {if $user.owner_id == $user_id || $user_id == $user.id}
                                                        {if $user_id == $user.id && $user.approved === 0}
                                                        <input type="button"
                                                            class="btn btn-sm btn-success approveGroupRequest"
                                                            data-user-id="{$user.id}" data-owner-id="{$user.owner_id}"
                                                            data-group-id="{$group.0.group_id}" value="✔" />
                                                        {/if}
                                                        <input type="button" class="btn btn-sm btn-danger deleteUser"
                                                            data-user-id="{$user.id}" data-owner-id="{$user.owner_id}"
                                                            data-group-id="{$group.0.group_id}" value="X" />
                                                        {/if}
                                                    </td>
                                                </tr>
                                                {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $(".groupTable").each(function () {
                let table = $(this).DataTable({
                    // columnDefs: [
                    //     { "width": "35%", "targets": 0 },
                    //     { "width": "50%", "targets": 1 },
                    //     { "width": "15%", "targets": 2 }
                    // ]
                });
            })

            {
                const gift = $('.gift');
                const fourleaf = $('.fourleaf');
                const message = $('.message');
                let user;
                function getRandomPerson() {
                    const availableUsers = selectedUsers.filter(u => u !== userName);

                    let selectedUser = null;

                    if (availableUsers.length > 0) {
                        const randomIndex = Math.floor(Math.random() * availableUsers.length);
                        selectedUser = availableUsers[randomIndex];
                    }
                    message.html(selectedUser);

                    if (selectedUser != ' ') {
                        $.ajax({
                            url: 'ajax/updateSelectedUser.php',
                            method: 'POST',
                            data: {
                                userEmail: userEmail,
                                selectedUser: selectedUser
                            },
                            success: function (response) {
                                // console.log(response);
                            },
                            error: function (xhr, status, error) {
                                // console.error('Error updating user: ' + error);
                            }
                        });
                    }
                }

                let clickPerformed = false;
                if (!gift.hasClass('is-open')) {
                    gift.on('click', function () {
                        if (!clickPerformed) {
                            clickPerformed = true;
                            gift.toggleClass('is-open');
                            fourleaf.toggleClass('is-fade-in');
                            message.toggleClass('is-visible');
                            if (gift.hasClass('is-open')) {
                                // $('#userName').prop('disabled', true);
                                // getRandomPerson();
                            }
                        }
                    });
                }

                // Extra functions
                const docTitle = document.title;
                $(window).on({
                    blur: function () {
                        document.title = 'Christmas is coming!';
                    },
                    focus: function () {
                        document.title = docTitle;
                    }
                });

                const today = new Date();
                const xmass = new Date(today.getFullYear(), 11, 25);
                if (today.getMonth() == 11 && today.getDate() > 25) {
                    xmass.setFullYear(xmass.getFullYear() + 1);
                }
                const one_day = 1000 * 60 * 60 * 24;
                const diff = Math.ceil((xmass.getTime() - today.getTime()) / one_day);
                $('#xmass').html(diff + ` days left before Christmas!`);
            }
        });
    </script>
</body>

</html>